# this is where i am moving some old ways to get the version info
# to keep for now anyway but to organize the "current/active" way's function
function get_arch_version_info_oldvars() {
    # old way i had getting version info
    # local arch_version=$(curl -sL "${arch_url}" | grep "<h2>$desktop_searchterm" | sed "s/^.*$desktop_searchterm1://;s/<\/h2>.*$//"  )

    # newer way to get version info
    # local arch_version=$(curl -sL "${arch_url}" | awk '/<h2>/ { print $2 }' )
    return
}

    desktop=$1

# the current/active way to get the info
function get_arch_version_info() {

    local arch_url="https://archlinux.org/packages/${arch_repo}/x86_64/${desktop_searchterm}"

    # suggested to get rid of need for sed
    ## the way i understand it
        ## gsub is global substitution ... the first part in the ( )'s is the thing being subbed .. then a coma and what to sub in (a blank to remove what i dont neeed, here.. the third is "where to sub")
        ### if the third filed is blank, its subs to $0 (the entire thing)
    arch_version=$(curl -sL "${arch_url}" |
    awk '/<h2>/ { gsub(/<\/h2>/, "", $2); print $2 }')

}
function assign_arch_vars() {

    # asign search term (if different from $desktop) to search 
    case $desktop in
        budgie) desktop_searchterm="budgie-desktop";;
        lxde) desktop_searchterm="lxde-common";;
        lxqt) desktop_searchterm="liblxqt";;
        mate) desktop_searchterm="mate-desktop";;
        xfce) desktop_searchterm="xfwm4" ;;
        gnome-desktop) desktop_searchterm="gnome-shell" ;;
        cinnamon|openbox|plasma-desktop)  desktop_searchterm=${desktop} ;;
    esac


    # get repo package is in
    case $desktop in
        budgie|cinnamon|gnome-desktop|lxde|lxqt|mate-desktop|openbox|plasma-desktop|xfce) arch_repo="extra"
        ;;
    esac

    local arch_url="https://archlinux.org/packages/${arch_repo}/x86_64/${desktop}"
    local arch_version=$(curl -sL "${arch_url}" | grep "<h2>$desktop" | sed "s/^.*$desktop1://;s/<\/h2>.*$//"  )
function get_arch_info() {

    desktop=$1

    assign_arch_vars "${desktop_searchterm}" "${arch_repo}"

    get_arch_version_info "${desktop_searchterm}"

    display_arch_info

    unset desktop desktop_searchterm arch_repo arch_version
}


function display_arch_info() {
    local current_output_file="arch_versions.txt"

    echo "Exporting output to file"
    display_date
    echo -e  "Arch Version of $desktop: ${arch_version}\n" | output_to_file
}
