
function get_arch_info() {

    # asign Desktop
    case $1 in
        budgie) local desktop="budgie-desktop";;
        lxde) local desktop="lxde-common";;
        lxqt) local desktop="liblxqt";;
        mate) local desktop="mate-desktop";;
        xfce) local desktop="xfwm4" ;;
        cinnamon|gnome-desktop|openbox|plasma-desktop) local desktop=${1} ;;
    esac


    # get repo package is in
    case $1 in
        budgie|cinnamon|gnome-desktop|lxde|lxqt|mate-desktop|openbox|plasma-desktop|xfce) local arch_repo="Extra"
        ;;
    esac

    local arch_url="https://archlinux.org/packages/${arch_repo}/x86_64/${desktop}"
    local arch_version=$(curl -sL "${arch_url}" | grep "<h2>$desktop" | sed "s/^.*$desktop//;s/<\/h2>.*$//"  )

    display_arch_info
}


function display_arch_info() {
    local current_output_file="arch_versions.txt"

    display_date
    echo -e  "Arch Version of $desktop: $arch_version\n" | output_to_file
}
