# https://packages.debian.org/buster/cinnamon

# function that filters out extra parts of the output
function filter_debian() {

    case $desktop in
        gnome)
            grep "Package: $desktop" | sed "s/^.*(1://g;s/).*$//g"
            ;;

        plasma-desktop)
            grep "Package: $desktop" | sed "s/^.*(4://g;s/).*$//g"
            ;;

        *)

            # first sed
                # i think ...
                # - removes start of line to (
            # second sed
                # - remove ) to the end of the line
            grep "Package: $desktop" | sed "s/^.*(//g;s/).*$//g"

        ;;

    esac
}

# Fetches the Debian version info
function fetch_debian_version() {
    local release=$1 pkg=$2

    current_package_link="${debian_packages_url}${release}/${pkg}"

    curl -s "${current_package_link}" 2>/dev/null | filter_debian
}

# Sets up/loads the variables
function load_debian_vars() {

    echo -e "Loading Debian Variables"

    debian_packages_url="https://packages.debian.org/"

    # Sid/unstable
    sidURL="${debian_packages_url}/sid/"

    # echo statement for testing
    echo -e "Debian Variables loaded"

}

load_debian_vars

# Future Idea: make this a universal function
# pass the desktop (instead of having it a var IN the function), as a variable
function get_debian_info() {

    case $1 in
        budgie) desktop="budgie-desktop" ;;
        gnome-desktop) desktop="gnome" ;;
        mate) desktop="mate-desktop-environment" ;;
        xfce) desktop="xfce4" ;;
        *) desktop=$1 ;;

    esac

    # note to self: do not put sid here
    # change info here after "in", down the line for updating

    # Forky - Current "Testing" codename
    # Trixie - Current "stable" release
    # Bookworm - Current "oldstable" release
    for rel in bookworm trixie forky; do
        version=$(fetch_debian_version "$rel" "$desktop")
        case $rel in
            bookworm) bookworm_version=$version ;;
            trixie) trixie_version=$version ;;
            forky) forky_version=$version ;;
        esac
    done

    sid_version=$(curl -s $sidURL/$desktop | grep "Package: $desktop" | filter_debian )

}

function display_debian_info() {
    current_output_file="debian_versions.txt"

    display_date

    echo -e "\nDesktop: ${desktop}" | output_to_file

    echo -e "bookworm (Old Stable) version: ${bookworm_version}" | output_to_file
    echo -e "trixie (Stable) version: ${trixie_version}" | output_to_file
    echo -e "forky (Testing) version: ${forky_version}" | output_to_file
    echo -e "sid (Unstable) version: ${sid_version}" | output_to_file
}
