# this function filters the mint info based on the current mint codename
function filter_mint_info() {
    awk -F '"' '/\/cinnamon_/ && /deb/ { print $2 }' | sed 's/^.*cinnamon_//g;s/+.*$//'
}

# this is what the main sh calls
function getMintInfo() {
    desktop=$1

    #echo -e "Getting Linux Mint information"

    mint_2204_info && mint_2404_info

    # unsets the vars for the next "go-around"
    #unset ${mint_version} ${current_mint_codename}
}


# for debugging output
function debugging_output() {
    echo -e "Mint Branch Number: ${mint_branch_number}"
    echo -e "$mint_url"

    echo -e "mint_codename:\t${mint_codename}"
    echo -e "current_mint_cinn_version:\t${current_mint_cinn_version}\v"

}

# this gets called from getMintInfo
function mint_2204_info() {

    # associative array mapping Mint codename -> base Ubuntu version
    declare -A jammy
    jammy[vanessa]="21.0"
    jammy[vera]="21.1"
    jammy[victoria]="21.2"
    jammy[virginia]="21.3"

    # Loop through each codename/version pair
    for mint_codename in "${!jammy[@]}"; do
        mint_branch_number="${jammy[$mint_codename]}"

        mint_url="http://packages.linuxmint.com/search.php?release=${mint_codename}&keyword=cinnamon"
        current_mint_cinn_version=$(curl -sL "${mint_url}" | filter_mint_info)

        #debugging_output

        displayMintData
    done
}

# this gets called from getMintInfo
function mint_2404_info() {

    # associative array mapping Mint codename -> base Ubuntu version
    declare -A noble
    noble[wilma]="22.0"
    noble[xia]="22.1"
    noble[zara]="22.2"

    # Loop through each codename/version pair
    # what is in the brackets is the codename
    for mint_codename in "${!noble[@]}"; do
        mint_branch_number="${noble[$mint_codename]}"

        displayMintData ${mint_codename} ${mint_branch_number}
    done
}

# to Display and output the obtained data
function displayMintData() {

    current_output_file="linuxmint_versions.txt"
    # display_date
    # append to the output file (use variable expansion for the filename)

    echo -e "For Linux Mint ${mint_codename} ${mint_branch_number} the version of Cinnamon is ${current_mint_cinn_version}" >> "${current_output_file}"

}
