tumbleweedURL="https://download.opensuse.org/tumbleweed/repo/oss/x86_64/"

echo "Loading OpenSUSE's filter config file"
. configs/openSUSE_filters.cfg

declare -A DE_TO_PACKAGE=(
    ["budgie"]="budgie-desktop"
    ["cinnamon"]="cinnamon"
    # ["plasma-desktop"]="plasma5-desktop"
    ["gnome-desktop"]="gnome-shell"
    ["mate"]="mate-desktop"
    ["lxde"]="lxsession"
    ["lxqt"]="liblxqt"
    ["xfce"]="xfwm4"
)

LEAP_VERSIONS=("15.6" "16.0")

get_package_name() {
    local de_name="$1"
    echo "${DE_TO_PACKAGE[$de_name]:-$de_name}"
}

function get_leap_url() {
    printf "%sGetting OpenSUSE Leap URLs"
    case "${leap_version}" in
        "15.6")
            echo "https://download.opensuse.org/distribution/leap/15.6/repo/oss/x86_64/"
            ;;
        "16.0")
            echo "https://download.opensuse.org/distribution/leap/16.0/repo/oss/x86_64/"
            ;;
        *) echo -e "unknown openSUSE Leap release: ${release}" ;;

    esac

}

function get_opensuse_leap_versions() {
    printf "%sGetting OpenSUSE Leap version info\n"

    for de_name in "$@"; do
        package_name=$(get_package_name "$de_name")
            clear
            echo -e "Start of Loop for $de_name"
            #echo -e "debug:de_name:\t$de_name"

        for leap_version in "${LEAP_VERSIONS[@]}"; do
            #echo -e "debug:leap_version:$leap_version"
            # gets the leap URL based on which Leap version it is
            local leap_url=$(get_leap_url "$leap_version")
            local version_info=$(filter2 "$package_name" "$leap_url")

            # point: only call display function if the version_info has a value
            # without this the last pass ends up outputting twice
            if [[ -n "$version_info" ]]; then
                display_openSUSE_info "$de_name" "$package_name" "$leap_version" "$version_info"
            fi

            #echo -e "End of loop for $leap_version"
        done

        #echo -e "End of loop for $de_name"
    done

    get_tumbleweed_opensuse_version
}

function get_opensuse_tumbleweed_version() {
    printf "%sGetting Tumbleweed Info"

    tw_version=$(curl -s "$tumbleweed_url" | grep -i -w -m1 "$de_name" | sed "s/^.*$desktop-//;s/x86.*$//" )

    # for debugging
    printf "%s\n$tw_version\v"

}

# what gets called from main file
function get_opensuse_info() {
    de_name=${1}

    get_opensuse_leap_versions

    get_opensuse_tumbleweed_version $de_name

}


function display_openSUSE_info() {

    if [[ -z "$4" ]]; then
        return
    fi

    current_output_file="openSUSE_versions.txt"

    echo -e "$de_name ($package_name) on Leap $leap_version: $version_info" | output_to_file
}
function get_tumbleweed_opensuse_version() {

    twVersion=$(curl -s "$tumbleweedURL" | grep -i -w -m1 "$desktop" | sed "s/^.*$desktop-//;s/x86.*$//" )

    echo -e "Tumbleweed version: $twVersion" | output_to_file
}
