tumbleweed_url="https://download.opensuse.org/tumbleweed/repo/oss/x86_64/"

echo "Loading OpenSUSE's filter config file"
. configs/opensuse/openSUSE_filters.cfg
. configs/opensuse/openSUSE_leap_code.cfg
. configs/opensuse/openSUSE_tw_code.cfg

function get_opensuse_desktop_packagename() {
    case $desktop in
        "budgie") package_name="budgie-desktop" ;;
        "cinnamon") package_name="cinnamon" ;;
        "plasma-desktop") package_name="plasma5-desktop" ;;
        "gnome-desktop") package_name="gnome-shell" ;;
        "mate") package_name="mate-desktop" ;;
        "lxde") package_name="lxsession" ;;
        "lxqt") package_name="liblxqt" ;;
        "xfce") package_name="xfwm4" ;;
        *) package_name="$desktop" ;;
    esac
}

# what gets called from main file
function get_opensuse_info() {
    local desktop="${1}"

    get_opensuse_desktop_packagename "$desktop"
    get_opensuse_leap_versions "$desktop"
    get_opensuse_tumbleweed_version "$desktop"
}

function display_opensuse_info() {

    # positional parameters (no reliance on globals)
    local opensuse_variant="$1"
    local desktop="$2"
    local package_name="$3"
    # version of the package ... the POINT of these scripts
    local leap_package_version="$4"
    local leap_version="$5"

    # idea: can this be more global and useful elsewhere? ... leave it here for now
    # idea 2: THIS WILL NOT WORK with Leap and Tumbleweed both being checked ... needs rework if both are to be supported
        # can i change this to -z with an OR check for tumbleweed version?

    current_output_file="openSUSE_versions.txt"

    case $opensuse_variant in

        leap)
            echo -e "$desktop ($package_name) on Leap $version: $leap_package_version" | output_to_file
            ;;
        tumbleweed)
            echo -e "$desktop ($package_name) on OpenSUSE Tumbleweed: $tw_package_version" | output_to_file
            ;;
        *) 
            echo "Invalid opensuse variant infomation" ;;
    esac
}
