# this is not related to the python code ... i am looking at bash or python ways to do this and am open to ideas

solus_package_search_url="https://soluspkg.osyn.us/"

function scrape_solus_pass1() {
 curl -s "$solus_package_search_url" | sed 's/></>\n</g' \
       >> solus.html

}


function get_solus_info() {
   scrape_solus_pass1
}

function display_solus_info() {
    echo "display_solus_info placeholder"
}
