function filter_ubuntu() {

    # awk -F'[()]' '{print $2}' → splits on parentheses, and prints the part inside them.
    ## Example:
        ### Package: something (1.2.3ubuntu1) → 1.2.3ubuntu1

    # Then the sed does the simple ubuntu → . substitution.

    grep -m 1 "Package: " | \
    awk -F'[()]' '{print $2}' | \
    sed 's/ubuntu\{1,3\}/./g'
}

function fetch_version() {
    local release=$1 pkg=$2
    current_ubuntubranch_package_url="${ubuntu_base_url}/${release}/${pkg}"

    curl -s "${current_ubuntubranch_package_url}" 2>/dev/null | filter_ubuntu
}


function getUbuntuInfo() {

    # sets up desktop info
    case $1 in
        budgie) desktop="budgie-desktop" ;;
        mate)  desktop="mate-desktop" ;;
        gnome-desktop) desktop="gnome-desktop3-data" ;;
        xfce) desktop="xfce4" ;;
        *)  desktop=$1 ;;
    esac

    ubuntu_base_url="https://packages.ubuntu.com"

    # plucky is EOL in mid Jan 2026
    for rel in jammy noble plucky questing; do
        version=$(fetch_version "$rel" "$desktop")
        case $rel in
            jammy) jammy_version=$version ;;
            noble) noble_version=$version ;;
            plucky) plucky_version=$version ;;
            questing) questing_version=$version ;;
        esac
    done

    ## ?? 25.04 EOL soon? - answer mid Jan 2026
}


function displayUbuntuInfo() {
    current_output_file="ubuntu_versions.txt"
    display_date
    echo -e "\nDesktop:\t${desktop}" | output_to_file
    echo -e "Jammy Version: $jammy_version" | output_to_file
    echo -e "Noble Version: $noble_version" | output_to_file
    echo -e "Plucky Version: $plucky_version" | output_to_file
    echo -e "Questing Version: $questing_version" | output_to_file
}
