#########################################################

function output_to_file(){
  tee -a "${current_output_file}"
}


function display_date() {
  current_date=$(date +"%m-%d-%Y at %I %M %r")
  echo -e "Information obtained:\t${current_date}" | output_to_file
}

function userPrompt() {
  read -p "Press [Enter] to continue "
}


function clearVars() {
  # Clear var
  # echo here for testing
  
  # clear
  #echo -e "Clearing desktop var"
  currentDesktop=""
  desktop=""
  #userPrompt
}



# Loading needed variables and functions 

clear
#echo -e "Loading Arch Linux file"
. configs/getArchVersions.cfg

#echo -e "Loading Debian file"
. configs/getDebianVersions.cfg

. configs/getFedoraVersions.cfg

#echo -e "Loading OpenSuse file"
#echo -e "note to self: this may not be right, at the moment"
. configs/getOpenSuseVersions.cfg

#echo -e "Loading Ubuntu file"
. configs/getUbuntuVersions.cfg

. configs/getLinuxMintVersions.cfg

clear