##################################################################################
# Start of Filters

function filter1() {
   # original
   curl -s "${leap_url}" | grep ">$desktop-[0-9]" | sed 's/\.x86.*$//;s///'
}

function filter2() {
    #echo "DEBUG: \$1='$1', \$2='$2'"

    package_name="$1"
    leap_url="$2"
    curl -s "$leap_url" | awk -F '\./' -v de="$package_name" '$2 ~ ("^" de "-[0-9]" ) { print $2; exit }' | sed "s/^.*$package_name-//;s/.x86.*$//"
}


# from openAi/openchatgpt
function filter3() {

    curl -s "${leap_url}" | awk -v desktop="$desktop" '
      # build a regex like desktop-([0-9.]+)
      {
        regex = desktop "-([0-9.]+)"
        if (match($0, regex, m)) {
          print m[1]
        }
      }
    ' \
  | head -1
}

# End of filters
#################################################################################
