LEAP_VERSIONS=("15.6" "16.0")

function get_leap_url() {
    local version="$1"

    case "${version}" in
        "15.6")
            echo "https://download.opensuse.org/distribution/leap/15.6/repo/oss/x86_64/" ;;
        "16.0")
            echo "https://download.opensuse.org/distribution/leap/16.0/repo/oss/x86_64/" ;;
        *) echo -e "unknown openSUSE Leap release: ${release}" ;;
    esac
}

function get_opensuse_leap_versions() {
    printf "%sGetting OpenSUSE Leap version info\n"

    # localize to avoid leaking into outer scope
    local leap_version=""

    # "version" below are the arrays ... meaning (atm) "15.6" or "16.0"
    for version in "${LEAP_VERSIONS[@]}"; do
        # gets the leap URL based on which Leap version it is
        local leap_url=$(get_leap_url "$version")

        # not a local variable, since we want to return it
        #leap_version=$(leap_filter2 "$package_name" "$leap_url")
        # idea: reassign plasma var 
        case $desktop in 

            plasma-desktop)  
                [ "$version" == "15.6" ] && package_name="plasma5-desktop"
                [ "$version" == "16.0" ] && package_name="plasma6-desktop"
            ;;

        esac 

        leap_package_version=$(echo "$(leap_filter2 "$package_name" "$leap_url")")
        #printf "%s\nleap_version in loop:\t$leap_package_version\n"
        #userPrompt

        # leap_package_version is the target info of all of the scripts
        # version is which version of LEAP
        display_opensuse_info "leap" "$desktop" "$package_name" "$leap_package_version" "$version"

    done

}
